<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login - IFonias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

<!-- LOGO NO CANTO -->
<div class="top-logo">IFonias 🎧</div>

<div class="login-card">

    {% if erro_login %}
        <div class="alert">Usuário ou senha incorretos.</div>
    {% endif %}

    {% if cadastro_ok %}
        <div class="alert verde">Cadastro realizado com sucesso!</div>
    {% endif %}

    <h2>Bem-vindo</h2>
    <p class="desc">Entre para continuar</p>

    <form method="POST" action="{{ url_for('login') }}">

        <label>Usuário:</label>
        <input type="text" name="usuario" required>

        <label>Senha:</label>
        <input type="password" name="senha" required>

        <button type="submit" class="btn">Entrar</button>
    </form>

    <a href="{{ url_for('cadastrar') }}" class="link-sec">Criar nova conta</a>

</div>

</body>
</html>
