<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login - IFonias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

<!-- # logo fixa no canto superior -->
<div class="top-logo">IFonias 🎧</div>

<div class="login-card"> <!-- # card principal do login -->

    {% if erro_login %}
        <div class="alert">Usuário ou senha incorretos.</div> <!-- # alerta de erro -->
    {% endif %}

    {% if cadastro_ok %}
        <div class="alert verde">Cadastro realizado com sucesso!</div> <!-- # alerta de sucesso -->
    {% endif %}

    <h2>Bem-vindo</h2> <!-- # título -->
    <p class="desc">Entre para continuar</p>

    <!-- # formulário de login -->
    <form method="POST" action="{{ url_for('login') }}">

        <label>Usuário:</label>
        <input type="text" name="usuario" required>

        <label>Senha:</label>
        <input type="password" name="senha" required>

        <button type="submit" class="btn">Entrar</button> <!-- # botão de enviar -->
    </form>

    <!-- # link para ir ao cadastro -->
    <a href="{{ url_for('cadastrar') }}" class="link-sec">Criar nova conta</a>

</div>

</body>
</html>
